anyio 
appnope
argon2-cffi
argon2-cffi-bindings
asttokens 
attrs 
Babel 
backcall
beautifulsoup4 
bleach 
brotlipy==0.7.0
certifi 
cffi 
charset-normalizer 
cryptography 
cycler==0.11.0
debugpy 
decorator 
defusedxml 
entrypoints 
executing 
fastjsonschema 
fonttools==4.38.0
idna 
ipykernel 
ipympl==0.9.2
ipython 
ipython-genutils 
ipywidgets 
jax==0.3.25
jaxlib==0.3.25
jedi 
Jinja2 
json5 
jsonschema 
jupyter 
jupyter-console 
jupyter-server 
jupyter_client 
jupyter_core 
jupyterlab 
jupyterlab-pygments 
jupyterlab-widgets 
jupyterlab_server 
kiwisolver==1.4.4
lxml 
MarkupSafe 
matplotlib
matplotlib-inline 
mistune 
nbclassic 
nbclient 
nbconvert 
nbformat 
nest-asyncio 
notebook 
notebook_shim 
numpy==1.23.5
opt-einsum==3.3.0
packaging 
pandocfilters 
parso 
pexpect 
pickleshare
Pillow==9.3.0
ply==3.11
prometheus-client 
prompt-toolkit
psutil 
ptyprocess 
pure-eval 
pycparser 
Pygments 
pyOpenSSL 
pyparsing 
PyQt5-sip==12.11.0
pyrsistent 
PySocks 
python-dateutil 
pytz
qtconsole 
QtPy 
requests
scipy==1.9.3
Send2Trash 
sip 
six 
sniffio 
soupsieve 
stack-data 
terminado 
tinycss2 
toml 
tomli 
tornado
tqdm==4.64.1
traitlets 
typing_extensions
urllib3 
wcwidth 
webencodings==0.5.1
websocket-client 
widgetsnbextension
